.friend{
    padding: 10px;
    width:400px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
    transition: 0.3s;
    margin-right: 20px;
    margin-top: 20px;
}
.friend:hover{
    box-shadow: 0 0 25px rgba(139, 185, 203, 0.552);
    transition: 0.3s;
}
.friend img{
    width: 30%;
    height: 100px;
    object-fit: cover; 
    border-radius: 10px;
    margin-right: 10px;
}
.fremail{
    color: grey;
    font-size: 14px;
}
.friends{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}