.friend{
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    overflow: hidden;
    transition: 0.3s;
}
.friend:hover{
    box-shadow: 0 5px 25px rgba(162, 222, 245, 0.73);
    transition: 0.3s;
}
.friend img{
    width: 30%;
    height: 100px;
    object-fit: cover; 
    border-radius: 10px;
    margin-right: 10px;
}
.fremail{
    color: grey;
    font-size: 14px;
}
.friends{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
}