/* .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    /* background-image: url(images/ava.jpg); 
} */
/* .body_all a,span{
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.body_all p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0px;
} */
.body_all{
    width: 100%;
    max-width: 900px; /* Độ rộng tối đa của nội dung */
    box-sizing: border-box; 
    margin: auto; 
    padding: 30px 20px 0px;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.item-1{
    grid-row: 1/5;
}
.item{
    min-height: 15px;
}
.container{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 75px 55px 35px 16px 44px;

}
.profile-avatar {
    display: grid;
    justify-items: center;
    border-radius: 50%;
    width: 176px;
    height: 176px;
    overflow: hidden;
}
.profile-avatar img {
    
    width: auto;
    height: 176px;
}
.profile-name {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.number{
    font-weight: bold;
}

.profile-name p{
    font-size: 18px;
    font-weight: bold;
    color: rgb(112, 176, 216);
}
.item-4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.number{
    display: flex;
    align-items: center; 
    gap: 50px;
}
.btn {
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transition: 0.3s;
    color: rgb(90, 90, 90);
}
.btn:hover, .btn:focus, .btn:active{
    transition: 0.3s;
    color: white;
    background-color: rgb(173, 172, 172);
}
.acc{
    border-bottom: 1px solid rgb(88, 87, 87)
}
.title_ct{
    width: 80px;
    margin:5px 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-date{
   
    color: gray;
}
.post{
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    padding: 20px;
}
.wrap-post-img{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.postimg{
    
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.top-post{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.delete-btn{
    background-color: transparent;
    border: none;
}
.delete{
    color: rgb(209, 44, 44);
}
.wrap-options{
    display: flex;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px 0px;    
    padding-left: 20px;
    transition: 0.3s;
}
.wrap-options:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.478);
    transition: 0.3s;
}
.wrap-options i{
    font-size: 25px;
    margin-right: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.wrap-options i:hover{
    color: rgb(42, 165, 159);
    transition: 0.3s;
}