.tbl{
    margin: auto;
    width: 1000px;
    border-collapse: collapse;
    margin-top: 30px;
}
.upload{
    margin-top: 50px;
   display: flex;
   justify-content: center;
}
th, td {
    font-family: arial;
    font-weight: 300;
    font-size: 16px;
    padding: 7px;
    text-align: left;
}
th{
    background-color: rgb(217, 221, 225);
    font-weight: 600;
}
.sort{
    margin-top: 20px;
}
.sp{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-align: center;
    color: palevioletred;
}